In [100]:
import numpy as np 
import pandas as pd 
import scipy 
from numpy.random import randn
from numpy.random import seed

from scipy.stats import ttest_ind  # independent samples t test 
from scipy.stats import ttest_rel # paired sample t test 
from scipy.stats import f_oneway  # one way anova 
from scipy.stats import chi2_contingency  # chisquare test

import pingouin as pg

# Data generation : 
randn , radom.sample, random.gauss, random.choice

In [64]:
d1 = randn(60)
d2 = random.sample(range(100),60) 
d3 = [random.gauss(2,3) for i in range(0,60)]
df1_array = np.array([d1,d2,d3]).T
df1 = pd.DataFrame(df1_array, columns = ['d1','d2','d3'])
df1.head()

         d1    d2        d3
0  0.541127  11.0 -0.681984
1 -2.175816  18.0  6.871969
2 -0.824084   5.0  5.366105
3  1.629905  49.0  9.861814
4 -0.076524   4.0  4.073768

# T test 
# ==========================================

The Student's t-test is a statistical hypothesis test that two independent data samples known to have a Gaussian distribution. One of the most commonly used t-tests is the independent samples t test. We can use this test whenever we want to compare the means of two indpendent samples on a given a vairable. 


The assumption or null hypothesis of the test is that the means of two populations are equal. A rejection of hypothesis indicates that there is suffiencient evidence that the means of the populations are different, and in turn the distributions are not equal. 
###  • Fail to reject Ho: Sample distributions are equal. 
### • Reject Ho: Sample distributions are not equal. 
The Student's t-test is availbale in python via the ttest_ind() Scipy function. The function takes two data samples as arguments and returns the calculated satistic and p-value.

In [53]:
# independent sample t test 
from scipy.stats import ttest_ind 
stat, p = ttest_ind(d1,d2)

# Paired Student t test 

If we want to compare the means between two data samples that are related in some way

In [54]:
# paired sample t test 
from scipy.stats import ttest_rel
stat, p = ttest_rel(d1,d2)
print(stat,p)

-12.874946522305466 8.75938658172604e-19

# ANOVA 

The purpose of one way anova is to compare the means of two or more groups on one independent variable to see if the group means are significantly different from each other. 

the test requires that the data samples are a gaussuan distributions, that the samplea are independent, and all the data samples have the same standard deviation. 

anova can be performed using scipy f_oneway() scipy function

In [55]:
# one way anova 
from scipy.stats import f_oneway
stat, p = f_oneway(d2,d1,d3)
print(stat, p)

161.22134677421866 1.3478848682168424e-40

In [57]:
# repeated measures anova 
png.rm_anova(pd.DataFrame([d1,d2,d3]).T)

,Source,ddof1,ddof2,F,p-unc,p-GG-corr,np2,eps,sphericity,W-spher,p-spher
0,Within,2,118,158.022449,4.231494e-34,1.617417e-18,0.728139,0.505865,False,0.023187,3.909043e-48

## CHI -SQAURE

## Comparison of the Chi-Square Tests
You have seen the χ2 test statistic used in three different circumstances. The following bulleted list is a summary that will help you decide which χ2 test is the appropriate one to use.

### Goodness-of-Fit:
Use the goodness-of-fit test to decide whether a population with an unknown distribution "fits" a known distribution. In this case there will be a single qualitative survey question or a single outcome of an experiment from a single population. Goodness-of-Fit is typically used to see if the population is uniform (all outcomes occur with equal frequency), the population is normal, or the population is the same as another population with a known distribution. The null and alternative hypotheses are:
H0: The population fits the given distribution.

Ha: The population does not fit the given distribution.

### Independence: 
Use the test for independence to decide whether two variables (factors) are independent or dependent. In this case there will be two qualitative survey questions or experiments and a contingency table will be constructed. The goal is to see if the two variables are unrelated (independent) or related (dependent). The null and alternative hypotheses are:
H0: The two variables (factors) are independent.

Ha: The two variables (factors) are dependent.


NOTE: if the deviations are larger then there is similarity betweent the features. so we reject the null hypothesis if the chisqaure statistics is larger.( implies that p value is lower) 

### Homogeneity:
Use the test for homogeneity to decide if two populations with unknown distributions have the same distribution as each other. In this case there will be a single qualitative survey question or experiment given to two different populations. The null and alternative hypotheses are:
H0: The two populations follow the same distribution.

Ha: The two populations have different distributions.

In [80]:
f1 = [random.choice(['male','female']) for i in range(15)] 
f2 = [random.choice(['yes','no']) for i in range(15)]
f3 = [random.choice(['maths','dl','ml','stats']) for i in range(15)]

In [85]:
df2_array = np.array([f1,f2,f3]).T
df2 = pd.DataFrame(df2_array, columns = ['f1','f2','f3'])
df2.head()

       f1   f2     f3
0  female  yes  maths
1    male   no  stats
2    male   no  maths
3  female   no  maths
4    male   no     dl

In [97]:
table = pd.crosstab(index=df2.f1, columns=df2.f3)
stat, p, dof, expected = chi2_contingency(table)


print(table) 
print(p)
# interpret test-statistic
prob = 0.95
from scipy.stats import chi2
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

f3      dl  maths  ml  stats
f1
female   1      2   1      1
male     2      2   5      1
0.6822703303362125
Independent (fail to reject H0)